@{
    ViewData["Summary"] = "Summary";
}

@model CrashViewModel



<div>
    <div class="text-center">
        <h1>Summary Page</h1>

        <p>Admin have the abilitiy to add, edit, and delete crash records from the database. If you would like to create a crash record, follow the button below.</p>

        <br />

        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <form method="post">
                    <h3>Search</h3>
                    <p>Search for a specifc accident by the crash ID number</p>
                    <div class="form-group">

                        <input type="text" name="searchedCrash" class="form-control" placeholder="Enter Crash ID Here" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <br />
        <br />

        <p>If you would like to create a new crash record in the database, follow the link below.</p>
        <a asp-controller="home" asp-action="Create" class="btn btn-info">Create New Crash Record</a>

        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="justify-content-center">
                        <h4>Filter By County</h4>
                        <div id="County">
                            <vc:county></vc:county>
                        </div>
                    </div>
                </div>



                <div class="col-10 text-center">
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Crash ID</td>
                                <td>Date and Time</td>
                                <td>Route</td>
                                <td>City</td>
                                <td>County</td>
                                <td>Crash Severity</td>

                                <td></td>

                                @if (ViewBag.user == 1)
                                {
                                    <td></td>
                                }
                                @if (ViewBag.user == 1)
                                {
                                    <td></td>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.Crashes)
                            {
                                <tr>
                                    <td>@x.CRASH_ID</td>
                                    <td>@x.CRASH_DATETIME</td>
                                    <td>@x.ROUTE</td>
                                    <td>@x.CITY</td>
                                    <td>@x.COUNTY_NAME</td>
                                    @if (x.CRASH_SEVERITY_ID == 0)
                                    {
                                        <td>NA</td>
                                    }
                                    @if (x.CRASH_SEVERITY_ID == 1)
                                    {
                                        <td>No Injury</td>
                                    }
                                    @if (x.CRASH_SEVERITY_ID == 2)
                                    {
                                        <td>Possible Injury</td>
                                    }
                                    @if (x.CRASH_SEVERITY_ID == 3)
                                    {
                                        <td>Suspected Minor Injury</td>
                                    }
                                    @if (x.CRASH_SEVERITY_ID == 4)
                                    {
                                        <td>Suspected Serious Injury</td>
                                    }
                                    @if (x.CRASH_SEVERITY_ID == 5)
                                    {
                                        <td>Fatal</td>
                                    }


                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Crash" asp-route-CrashID="@x.CRASH_ID">View Details</a></td>

                                   
                                    <td><a class="btn btn-warning" asp-controller="Home" asp-action="Edit" asp-route-CrashID="@x.CRASH_ID">Edit</a></td>
                                    
                                    
                                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-CrashID="@x.CRASH_ID">Delete</a></td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="col-8">
                        <div page-model="@Model.PageInfo" page-action="Summary" page-classes-enabled="true"
                             page-class="btn " page-class-normal="btn-outline-dark"
                             page-class-selected="btn-primary" class="btn-group pull-right m-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
